<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dxc.assignment.mapper.MemberMapper">
	<resultMap id="memberMap" type="dxc.assignment.model.Member">
		<id property="id" column="member_id" />
		<result property="username" column="username" />
		<result property="email" column="email" />
		<result property="password" column="password" />
		<result property="phoneNumber" column="phone_number" />
	</resultMap>

	<select id="select" resultType="dxc.assignment.model.Member">
		SELECT * FROM members
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO users(username, email, password, phone_number)
		VALUES(#{username}, #{email}, #{password}), #{phone_number});
	</insert>
</mapper>
